* {
    box-sizing: border-box;
}
html {
    margin: 0px;
    padding: 0px;
} 
body {
    font-family: Arial, Helvetica, sans-serif;
margin: 0px;
    padding: 0px;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 90px 0px 190px 0px;
    text-align: center;
    font-size: 30px;
    color: #ce0b10;
    background-image: url("../images/food2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

/* Container for flexboxes */

.row {
    display: -webkit-flex;
    display: flex;
}

a{
    text-decoration: none;
}
/* Create three equal columns that sits next to each other */
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 5px;
    height: 300px; /* Should be removed. Only for demonstration */
    background-color: #fff;

}
.titleHeaders{

       font: 20px/10px "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        text-align: center;
        color: #ce0b10

}
/* Style the footer */
.footer {
    background-color: #ce0b10;
    padding: 10px;
    text-align: center;
    color: #fff;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .header {
    background-color: #f1f1f1;
    padding: 40px 0px 60px 0px;
    text-align: center;
    font-size: 19px;
    color: #fff;
    background-image: url("../images/food.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 120px 0 rgba(0, 0, 0, 0.19);

}
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #ce0b10;
}

/* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

 .button2{

    display: block;
    width: 150px;
    height: 42px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px rgba(white, 0.5);
    background: #6ad809;
    border: 1px solid;
    border-color: #d8d8d8 #d1d1d1 #c3c3c3;
    border-radius: 25px;
    cursor: pointer;
  }

  .copyWriteColumn {

       display: block;
    width: 150px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #6ad809;
    text-align: center;
   
  }